#helpDesk-main{
    @include backgroun-main;
}

#helpDesk-form{
    @include section-form;

    h1{
       @include header_section;
    }

    form{ 
        text-align: center;
        width:100%;
        max-width: 550px;
        border: 1px solid rgb(248, 100, 2);
        border-radius: 40px;
        margin-bottom: 50px;
        box-shadow:3px 2px 20px 4px;
        background: rgba(0, 0, 0, 0.725) ;

        input,textarea{
            width: 50%;
            margin: em(20px)  20px;
            padding: em(8px);
            font-size: em(15px);


            outline: none; 
            border: none;
            border-bottom: 2px solid rgba(255, 68, 0, 0.485);
            background-color: transparent;
            margin-top: 20px;
            color: white;
    
            &:focus{
                width: 70%;
                border-bottom: 2px solid orangered;
                transition: width 0.5s;
            }

            &::placeholder{
                color: rgb(255, 255, 255);
            }
        }
    
       
       
        .email{
            outline: none;
            border: none;
            background-color: transparent;
        }
    
        input[type="submit"]{
            width: 50%;
            cursor: pointer;
            font-size: em(18px);
            border-radius: 6px;
            border: 0;
            
    
            &:focus{
                width: 50%;
            }
    
            &:hover{
                background-color: orangered;
                color: white;
                transition: background-color 0.5s,color 0.3s;
                
            }
        }
    }
}
